@model List<Sql_Auto_Data_Discovery.Business.Models.SqlObjectsModel>
<div class="jumbotron">
    @if (Model != null && Model.Count > 0)
    {
        <p>What table do you want to look at?</p>
        <ul>
            @foreach (var item in Model)
            {
                <li class="list-inline">
                    @item.name
                    @Html.ActionLink(linkText: "Open"
                        , actionName: "TableDetails"
                        , routeValues: new { c = item.name, t = item.object_id,  }
                        , htmlAttributes: new { @class = "btn btn-default" })
                </li>
            }
        </ul>
    }
    else
    {
        <p>No Connections has been setup. Please contact your system adminitrator!</p>
    }
</div>
